@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
    line-height: 20px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
    line-height: 20px;

  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
    line-height: 20px;

  }
}

body {
  background-color: white;
  font-family: 'Oxygen', sans-serif;
  color: #316094;
  /* background-color: #a5bdc5; */
  font-size: 15px;
  font-weight: bold
}

h1, h2, h3 {
  color:#213e5f;
  font-family:'Chivo', sans-serif;
  line-height: 100%;
  font-size: 25px;
  text-decoration: none;
}

h2 {
  text-decoration:italic;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

#me {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

img {
  width: 50px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  object-fit:fill
}

#banner {
  text-align: center;
}

a {
  color:#316094;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(81, 10, 81)
}

#footer {
  text-decoration: underline;
  text-align: center;
}

.fa-brands {
  font-size: 50px;
}

.div-all {
  background-color: #a5bdc5;
}

div {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  margin: 20px 10px;
  background-color: white;

}

ul {
  list-style-type: none;
  text-align: left ;
  padding-left: 5px;
}

.job  {
  padding: 5px 15px;
  margin: 20px 10px;
}

#dev {
  padding: 5px 15px;
}
